<script id="NewsTemplate_Small" type="text/x-jquery-tmpl">
    <div class="content">
        <header style="background-color:Gray; font-weight:bold">
            <span>News Small</span>
        </header>
        <section>            
            <label id="lblNewsTitle"></label>
            <div id="NewsDataContainer"></div>
        </section>        
        <footer>
            &nbsp;
        </footer>
    </div>
</script>

<script id="NewsTemplate_Medium" type="text/x-jquery-tmpl">
    <div class="content">
        <header style="background-color:Gray; font-weight:bold">
            <span>News Medium</span>
        </header>
        <section>            
            <label id="lblNewsTitle" style="word-wrap: break-word"></label>
            <a id="lnkNews"></a>
            <label id="lblNewsSnippet" style="word-wrap: break-word"></label>
            <div id="NewsDataContainer"></div>
        </section>        
        <footer>
            &nbsp;
        </footer>
    </div>
</script>

<script id="NewsTemplate_Large" type="text/x-jquery-tmpl">
    <div class="content">
        <header style="background-color:Gray; font-weight:bold">
            <span>News Large</span>
        </header>
        <section>            
            <label id="lblNewsTitle"></label>
            <div id="NewsDataContainer"></div>            
        </section>        
        <footer>
            &nbsp;
        </footer>
    </div>
</script>