<script id="VideoTemplate_Small" type="text/x-jquery-tmpl">
   <div class="content">
        <header class="videoHeaderSmall">
            <span>Publicidad</span>
        </header>
        <section style="padding:10px; color:red; font-weight:bold">
            <span style="padding-top: 10px">Arrastrar hacia los "tiles" mas grandes.<span>
        </section>
        <footer>
            &nbsp;
        </footer>
    </div>
</script>

<script id="VideoTemplate_Medium" type="text/x-jquery-tmpl">
    <div class="content">
        <header class="videoHeaderMedium">
            <span>Publicidad</span>
        </header>
        <section>
            <div class="VideoPlayerDiv" style="margin: 0px auto;">
                <div class="video-js-box">
                    <video id="VideoPlayer" class="video-js" controls="controls" preload="auto"  poster="/Content/Images/video-poster.jpg">
                        <source type="video/mp4" src="http://m.wsj.net/video/20090201/013009monster_doubletake/013009monster_doubletake_320k.mp4" /> 
                    </video> 
                </div>
            </div>
        </section>
        <footer>
            &nbsp;
        </footer>
    </div>
</script>

<script id="VideoTemplate_Large" type="text/x-jquery-tmpl">
     <div class="content">
        <header class="videoHeaderLarge">
            <span>Publicidad</span>
        </header>
        <section>
            <div id="VideoPlayerDiv" style="margin: 0px auto;" >
                <div id="VideoPlayerContainer" class="video-js-box">
                     <video id="VideoPlayer" class="video-js" controls="controls" preload="auto"  poster="/Content/Images/video-poster.jpg">
                        <source type="video/mp4" src="http://m.wsj.net/video/20090201/013009monster_doubletake/013009monster_doubletake_320k.mp4" /> 
                    </video> 
                </div>
            </div>
        </section>
        <footer>
            &nbsp;
        </footer>
    </div>
</script>