@model IEnumerable<NewsAtAGlance.Model.Location>
@{
    ViewBag.Title = "News At A Glance";
}

<h2>News At A Glance</h2>

@*TODO: unnecessary code to verify database deployment in appHarbor. It should be removed.*@
@using (@Html.BeginForm("Index", "List", FormMethod.Get))
{
    <p>
        Location: @Html.DropDownList("location", new SelectList(ViewBag.Locations), "All")        
    </p>
}


