@model IEnumerable<NewsAtAGlance.Model.News>
@{
    ViewBag.Title = "News At A Glance";
}

<h2>News At A Glance</h2>


<table class="newsTable">
<tr>
    <th>Title</th>
    <th>Detail</th>
</tr>
@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@item.Url">@item.Title</a>            
        </td>
        <td>
            <span>@item.Snippet</span>            
        </td>
    </tr>
}
</table>

