@*@model IEnumerable<NewsAtAGlance.Model.News>*@
@*@{
    ViewBag.Title = "News At A Glance";
}*@

@*<h2>News At A Glance</h2>*@

<div id="container">       
         
    <div id="header">
        <div id="newslogo">
            <img src="/Content/Images/makingSenseLogo.png" />
        </div>
        <div id="newsTopRight">
            @*<div id="buttons">
                <img id="gridButton" disabled class="unselected" src="/Content/Images/grid.png" />
                <img id="cloudButton" class="enabled" src="/Content/Images/cloud.png" />
            </div>*@
        </div>
    </div>
    <div id="left" class="scroller"></div>
    <div id="right" class="scroller"></div>
    <div id="content" style="border-style:double; border-color:White" ></div>
    
</div>

<div id="dialog" title="Upgrade Browser">
	<p>Please update your browser to IE9 for the best experience.  <br /><br />Download IE9 from <a href="http://ie.microsoft.com/testdrive/">http://ie.microsoft.com/testdrive/</a>.</p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#dialog").dialog({ autoOpen: false });

        if ($.browser.msie && $.browser.version > 9) {
            $("#dialog").dialog('open');
        }
        else {
            //TODO: verify parameters
            startup.init(1, 1, 1);
        }
    });
</script>
